body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  background-image: url('../images/star_background.jpg'),
    url('../images/star_background_2.jpg'),
    url('../images/star_background_3.jpg'),
    url('../images/star_background_4.jpg');
  background-color: #f1f0ee;
  background-size: cover;
  background-position-x: right;
}

#question {
  font-family: 'Dreaming Out Loud', sans-serif;
  color: #353434;
}

#button {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #9f9998;
  border: 2pt solid #9f9998;
}

@media (max-width: 480px) {
  #question {
    font-size: 10vw;
  }

  #button {
    padding: 5pt;
    border-radius: 999px;
  }
}

@media (min-width: 480px) {
  #question {
    font-size: 7vw;
  }

  #button {
    font-size: 2vw;
    padding: 5pt;
    border-radius: 999px;
  }
}
