body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  background-size: cover;
  background-position-x: right;
  background-image: url('../images/starbackground.jpg');
  font-family: 'Dreaming Out Loud';
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  gap: 20px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.text-box {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1vw 2vw;
  border-radius: 20px;
}

.wording {
  text-align: center;
  color: #353434;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1vw;
  border-radius: 20px;
}

.image {
  border-radius: 15px;
}

.image-caption {
  text-align: center;
}

#darby {
  right: 0;
  position: fixed;
}

#ultrasounds {
  display: flex;
}

@media (max-width: 480px) {
  #content {
    height: 70vh;
  }

  #ultrasounds {
    flex-direction: column;
    gap: 20px;
  }

  .wording {
    font-size: 5vw;
  }

  .image {
    max-width: 40vw;
    max-height: 25vh;
  }

  .image-caption {
    font-size: 3vw;
  }

  #darby {
    max-height: 200px;
    bottom: -50px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  #content {
    height: 65vh;
  }

  #ultrasounds {
    flex-direction: column;
    gap: 30px;
  }

  .wording {
    font-size: 5vw;
  }

  .image {
    max-width: 80vw;
    max-height: 20vh;
  }

  #darby {
    max-height: 250px;
    bottom: -50px;
  }
}

@media (min-width: 1025px) {
  #ultrasounds {
    flex-direction: row;
    gap: 50px;
  }

  .wording {
    font-size: 3vw;
  }

  .image {
    max-height: 30vh;
  }

  #darby {
    max-height: 350px;
    bottom: -75px;
  }
}
